.Navigation {
  height: 15%;
  width: 100vw;
  background-color: navy;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Logo {
  background-color: black;
  height: 100%;
}

.LinkContainer {
  height: 40%;
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.LinkContainer li {
  padding: 0 4%;
  margin: 0 10%;
  font-size: 160%;
  height: 100%;
  color: wheat;
}

.LinkContainer li:hover {
  color: black;
}

.Link {
  margin: 0 2%;
  width: 25%;
  text-decoration: none;
}

.Link:hover {
  background-color: lightblue;
}

ion-icon {
  height: 35px;
  width: 35px;
  color: black;
  border: 2px solid black;
  border-radius: 50%;
}

ion-icon:hover {
  color: white;
  background-color: orange;
  cursor: pointer;
}
