.Container {
  visibility: hidden;
}
.ContainerShow {
  visibility: visible;
}

.PopUp {
  height: 70%;
  width: 50%;
  background-color: lightblue;
  z-index: 200;
  position: absolute;
  bottom: 10%;
  left: 25%;
}

.Guest {
  height: 10%;
  width: 20%;
  font-size: 70%;
  position: absolute;
  left: 0%;
  bottom: 0%;
}
.Switch {
  height: 10%;
  width: 40%;
  font-size: 90%;
  margin: 5% 0;
}
