.Container {
  visibility: hidden;
}
.ContainerShow {
  visibility: visible;
}

.PopUp {
  height: 70%;
  width: 60%;
  background-color: lightblue;
  z-index: 200;
  position: absolute;
  bottom: 10%;
  left: 20%;
}

.Item {
  z-index: 300;
  height: 75%;
  width: 100%;
  margin: auto;
  background-color: lightblue;
  font-size: 200%;
  display: flex;
  flex-flow: column wrap;
}

.Item div {
  width: 40%;
  height: 20%;

  margin-bottom: 5%;
}

.Img {
  height: 100%;
  width: 50%;
}

.Name {
  font-size: 200%;
}

.EditCart {
  height: 25%;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1% auto;
}

.EditCart button {
  margin: 0 2%;
  height: 40px;
  width: 40px;
  border-radius: 35%;
  background-color: white;
  border: none;
}

.Quantity {
  height: 40px;
  width: 50px;
  text-align: center;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.EditCart h3 {
  cursor: pointer;
  border: 1px white solid;
  height: 33%;
  padding-top: 1%;
}

.EditCart h3:hover {
  color: white;
  background-color: grey;
}
