.Container {
  height: 40%;
  width: 45%;
  margin: 2%;
  cursor: pointer;
  background-color: lightblue;
  box-shadow: gray 2px 2px 10px;
}

.Img {
  height: 50%;
  width: 40%;
  display: inline-block;
  background-color: rebeccapurple;
  position: relative;
  right: 5%;
}

.Name {
  font-size: 150%;
  margin-bottom: 3%;
}

.Price {
  font-size: 120%;
  width: 50%;
  height: 20%;
  float: right;
  position: relative;
  bottom: 12%;
}

.Text {
  font-size: 120%;
  width: 50%;
  height: 30%;
  float: right;
}
